:root {
  /* Colors */
  --color-grey-dark: #3b4248;
  --color-grey-light: #9c9da3;

  --color-white-primary: #fdfdfd;
  --color-white-secondary: #f4f4f5;

  --color-green-primary: #75b647;

  --color-green-secondary: #a7d352;

  /* Typography */
  --font-size-huge: 11.089rem;
  --font-size-xl: 6.854rem;
  --font-size-lrg: 4.236rem;
  --font-size-med: 2.618rem;
  --font-size-sml: 1.618rem;
  --font-size-xs: 1rem;

  /* Spacing */
  --space-huge: 8rem;
  --space-xl: 5rem;
  --space-lrg: 3rem;
  --space-med: 1.5rem;
  --space-sml: 0.75rem;
  --space-xs: 0.5rem;

  /* Border Rads */
  --bord-rad-xl: 30px;
  --bord-rad-lrg: 8px;
  --bord-rad-med: 5px;
  --bord-rad-sml: 3px;

  /* Box Shads */
  --box-shad-1: rgba(59, 66, 72, 0.5) 0px 3px 6px,
    rgba(59, 66, 72, 0.5) 0px 3px 6px;
  --box-shad-2: rgba(59, 66, 72, 0.5) 0px 5px 8px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/*  Default browser font size = 16px | 10px/16px = 62.5% | 1rem/1em = 62.5% or 10px */

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;

  
}

body {
  color: var(--color-grey-dark);
}

.title {
  position: absolute;
  top: var(--space-lrg);
  text-align: center;
  font-size: var(--font-size-xl);
  font-weight: 300;
  width: 100vw;
  background-image: linear-gradient(
    145deg,
    var(--color-green-primary),
    var(--color-green-secondary),
    var(--color-green-primary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.3s;
}

.logo {
  height: 6.5rem;
  width: 6.5rem;
  position: absolute;
  top: var(--space-xl);
  left: var(--space-xl);
  transition: all 0.3s;
}

.hero-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -1;
  padding-top: 0;
  transition: all 0.3s;
  background: var(--color-grey-light);
}

.hero-container__img {
  filter: brightness(85%);
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 60%;
  height: 55%;
  background: transparent;
  box-shadow: none;
  overflow: hidden;
  padding-bottom: 8px;
  /* border: 1px solid white; */
}

.box-display {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: var(--bord-rad-med);
  box-shadow: var(--box-shad-1);
}

.search {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button {
  height: 4.5rem;
  width: 25rem;
  font-size: var(--font-size-sml);
  margin-right: var(--space-sml);
  border: 1px solid var(--color-white-secondary);
  color: var(--color-white-secondary);
  background-color: rgba(117, 182, 71, 0.85);
  border-radius: var(--bord-rad-xl);
  text-transform: uppercase;
  transition: all 0.3s;
}

.search-button:hover {
  cursor: pointer;
  border: 1px solid var(--color-green-primary);
  color: var(--color-green-primary);
  background-color: rgba(255, 255, 255, 0.85);
}

.search-box {
  position: relative;
}

.search-input {
  height: 4.5rem;
  width: 4.5rem;
  border: 3px solid transparent;
  border-radius: var(--bord-rad-xl);
  background-color: rgba(255, 255, 255, 0.85);
  transition: all 0.3s;
  font-family: "Titillium Web", sans-serif;
  font-size: var(--font-size-sml);
  padding-left: 15px;
  transition: all 0.3s;
}

.search-box:hover .search-input::placeholder {
  color: var(--color-grey-dark);
}

.search-input::placeholder {
  color: transparent;
}

.search-box:hover .search-input {
  width: 25rem;
}

.search-input:focus {
  width: 25rem;
  outline: none;
  border: 2px solid var(--color-green-primary);
}

.search-input:focus::placeholder {
  color: var(--color-grey-dark);
}

.search-icon {
  position: absolute;
  right: 13px;
  top: 12px;
  color: var(--color-green-primary);
}

.weather {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.weather__location {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-lrg);
  font-weight: 600;
  position: relative;
}

.weather__location--close {
  position: absolute;
  right: var(--space-med);
  top: -2px;
  height: 3rem;
  width: 3rem;
  transition: all 0.3s;
}

.weather__location--close:hover {
  cursor: pointer;
  transform: translateY(-4px);
}

.weather__location--close:active {
  transform: translateY(-2px);
}

.close {
  width: 100%;
  height: 100%;
}

.weather__temp {
  grid-column: 1 / 2;

  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 400;
  font-size: var(--font-size-med);
}

.weather__forecast {
  grid-column: 2 / -1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 400;
  font-size: var(--font-size-med);
}

.weather__forecast--icon {
  width: 7rem;
  height: 7rem;
  background: rgba(59, 66, 72, 0.15);
  border-radius: 50%;
}

.weather__forecast--icon img {
  width: 100%;
}

.weather__map {
  grid-column: 1 / -1;
  grid-row: 3 / -1;
  margin-top: var(--space-sml);
  height: 100%;
}

.footer {
  position: absolute;
  left: 50%;
  bottom: var(--space-lrg);
  transform: translateX(-50%);
}

.footer__copy {
  font-size: var(--font-size-sml);
}

.footer__copy a:link,
.footer__copy a:visited {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--color-green-primary);
  transition: all 0.3s;
}

.footer__copy a:hover,
.footer__copy a:active {
  cursor: pointer;
  color: var(--color-green-secondary);
}

.hide {
  display: none;
}

/* BREAK POINTS */
/*  Default browser font size = 16px | 10px/16px = 62.5% | 1rem/1em = 62.5% or 10px */
/* bp-lrg: 56.25em = 900px/16px | font-size: 8px | 8px/16px = 50% */
/* bp-med: 43.75em = 700px/16px */
/* bp-sml: 37.5em = 600px/16px  | font-size: 6px | 7px/16px = 37.5%*/
/* bp-xs: */

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }

  .search-icon {
    right: 8px;
    top: 8px;
  }

  .box {
    width: 70%;
  }
}

@media only screen and (max-width: 43.75em) {
  .logo {
    left: 50%;
    transform: translateX(-50%);
    top: var(--space-lrg);
  }

  .title {
    top: var(--space-huge);
  }

  .box {
    width: 90%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 43.8%;
  }

  .search-icon {
    right: 6px;
    top: 6px;
  }

}